/* ----------------------- CLIENT PATH CONTAINER ----------------------- */
$first-step-indent: 0;
$second-step-indent: 12.832rem;
$third-step-indent: 26.04rem;
$fourth-step-indent: 39.06rem;
$fifth-step-indent: 52.081rem;


.client-path-bg {
    position: relative;
}

.client-path {
    max-width: 63.375rem;
    height: 26.5rem;
    margin-top: 8.25rem;

    position: relative;
    z-index: 3;

    &-triangle {
        position: absolute;
        right: 19rem;
        top: -10rem;
    }
}

.client-path-steps {
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 9.813rem;
    padding-top: .5rem;

    position: relative;

    &-item {
        max-width: 11rem;

        position: absolute;
        cursor: pointer;

        &-1 {
            left: $first-step-indent;
        }
        &-2 {
            left: calc(#{$second-step-indent} + .15rem);
        }
        &-3 {
            left: $third-step-indent;
        }
        &-4 {
            left: calc(#{$fourth-step-indent} + .15rem);
        }
        &-5 {
            left: $fifth-step-indent;
        }

        .step-number-img {
            max-width: 5.8rem;
            position: absolute;
            right: -2.5rem;
            top: -2.2rem;

            &-first {
                right: -.625rem;
                top: -3rem;
            }
        }

        &-number {
            color: #22D9A2;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;

            margin-bottom: 1.5rem;
        }

        h4 {
            font-weight: 600;
            width: 110%;
        }
    }
}

.client-path-steps:last-child {
    justify-content: space-evenly;
}


.client-path-timeline {
    margin: 3.125rem 0 3.4rem;
    position: relative;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        position: relative;

        .line {
            border: 1px solid #FFFFFF;
            height: 1px;
            width: 100%;
            display: block;
        }

        .dot {
            border: 2px solid #FFFFFF;
            border-radius: 50%;
            background-color: #fff;
            width: .5rem;
            height: .5rem;
            display: block;
            transition: .1s ease-in-out;

            position: absolute;
            cursor: pointer;

            &-1 {
                left: $first-step-indent;
            }
            &-2 {
                left: $second-step-indent;
            }
            &-3 {
                left: $third-step-indent;
            }
            &-4 {
                left: $fourth-step-indent;
            }
            &-5 {
                left: $fifth-step-indent;
            }

            &-hovered, &-clicked, &:hover {
                background-color: #0736C9;
                width: .875rem;
                height: .875rem;
            }
        }
    }
}


/* ----------------------- CUSTOM ARROWS ----------------------- */
.arrows {
    height: 2.5rem;
    width: .7rem;
    position: absolute;
    left: calc(#{$second-step-indent} + .15rem);
    top: 1rem;
    z-index: 3;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.arrowSliding {
    position: absolute;
    -webkit-animation: slide 4s linear infinite; 
            animation: slide 4s linear infinite;

    &.delay1 {
    -webkit-animation-delay: 1s; 
        animation-delay: 1s;
    }
    &.delay2 {
    -webkit-animation-delay: 2s; 
        animation-delay: 2s;
    }
    &.delay3 {
    -webkit-animation-delay: 3s;
        animation-delay: 3s;
    }
}
    
.arrow {
    display: block;
    transform: rotate(90deg);
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-.5rem); }  
    20% { opacity:1; transform: translateY(0rem); } 
    80% { opacity:1; transform: translateY(1.5rem); }  
   100% { opacity:0; transform: translateY(2rem); } 
}
@keyframes slide {
  0% { opacity:0; transform: translateY(-.5rem); }  
  20% { opacity:1; transform: translateY(0rem); } 
  80% { opacity:1; transform: translateY(1.5rem); }  
 100% { opacity:0; transform: translateY(2rem); } 
}