/* ----------------------- замена DRUPAL DEFAULTS для APP PAGE ----------------------- */

.page-node-type-application .apicMainContent {
  overflow: visible;
}

.applicationWrapper {
  max-width: 1220px;
  margin: 0 auto;

  .contentInnerWrapper {
    padding-bottom: 2rem;
  }
}
@media (max-width: 1220px) {
  .applicationWrapper {
    max-width: 97%;
  }
}
@media (max-width: 767px) {
  .applicationWrapper {
    margin: 0 1rem;

    .titleInnerWrapper {
      padding: 0 1rem;
    }
  }
}

// Хэдер
.applicationWrapper header.titleSection {
  background-color: inherit;
}
.applicationName {
  border: none;
  font-size: 3rem;
  font-weight: 600 !important;
  line-height: 3.25rem;
  color: inherit;
}
@media (max-width: 767px) {
  .applicationName {
    font-size: 1.5rem;
    line-height: 1.9rem;
  }
}

@media (max-width: 767px) {
  .applicationWrapper header.titleSection .leftTitle {
    max-width: 12rem;
  } 
}

// Аватарка приложения
.titleSection .applicationTitle .applicationLogo {
  display: none;
}

// Меню для изменения приложения (справа от названия приложения)
.applicationMenu .dropit-trigger a.trigger {
  width: 3rem;
  height: 3rem;
  border: 1px solid $color-primary-50;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(136, 136, 136, 0.08);
  }
  &:active {
    background-color:  rgba(255, 255, 255, 0.2);
  }
  &:focus {
    outline: none;
  }

  .dropit-icon {
    transform: rotate(90deg);

    svg {
      fill: $color-primary-50;
    }
  }
}

// Описание приложения
.applicationDescription .field--name-apic-summary .field--item {
  font-size: 14px;
  line-height: 20px;
}

// Табы в разделе "Идентификационные данные"
.applicationWrapper .titleSection .applicationTabs li a, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a, .applicationWrapper .titleSection .applicationTabs li, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li .apicMyOrg .titleSection .organizationTabs li a, .apicMyOrg .titleSection .organizationTabs li {
  color: $color-neutral-05;
}

// Добавление новых идентификационных данных

@media (max-width: 767px) {
  .route-apic-appcredentials-create .main-container .row {
    padding: 2rem 1rem;
    margin-top: 1rem;
  }
}
// Раздел "Подписки"
.credentialsActions { 
  display: flex;
  margin-right: 1rem;
  padding: 0 1rem;

  .credentialsActionsAdd .addCredential svg:hover {
    fill: $color-neutral-50;
  }
}
@media (max-width: 767px) {
  .applicationCredentials .credentialsTable .credentialsHeader {
    .credentialsActions .credentialsActionsAdd {
      padding-left: .9rem;
    }
  }

  .subscriptionsContent {
    overflow-x: scroll;
  }
}

.clientIDContainer .bx--form-item.form-item.form-group {
  width: 100%;
  max-width: 25rem;
}

.clientSecretContainer .bx--form-item.form-item.form-group {
  max-width: 25rem;
}

// Форма проверки пароля
.application-verify-clientsecret-form .form-actions .form-submit {
  margin-left: 1rem !important;
}

// Форма сброса всех креденшалов
.application-reset-clientid-form .form-actions .form-submit {
  margin-left: 1rem !important;
}

// Форма сброса пароля
.application-reset-clientsecret-form .form-actions .form-submit {
  margin-left: 1rem !important;
}

// Форма изменить приложение (обновить)
.application-update-form .form-actions .form-submit {
  margin-left: 1rem !important;
}

// Форма обновления идентификационных данных
.application-update-credentials-form .form-actions .form-submit {
  margin-left: 1rem !important;
}

// Форма загрузки аватара приложения
.application-upload-image-form .form-group.form-actions {
  justify-content: space-between;

  button#edit-remove {
    background-color: transparent;
    border: 1px solid $color-primary-50;
    color: $color-primary-50;
  }
}
@media (max-width: 767px) {
  .application-upload-image-form .form-group.form-actions {
    flex-direction: column;
    align-items: center;

    button {
      max-width: 12rem;
      margin-top: .5rem;
    }
  }
}

// Сводная панель / аналитика ---------------------------------------------------------------
.analyticsWidgetContainer #appAnalyticsSummary {
  .bx--tile {
    overflow: scroll;
  }
}


// Создание приложения ---------------------------------------------------------------

.route-apic-appcreate .main-container .row {
  background-color: $color-neutral-90;
  padding: 1.25rem 1.5rem;
  border: none;
  border-radius: 8px;
}
.application-create-form-one .form-group .form-submit {
  margin-left: 1rem !important;
}
.application-create-form-one .form-group .bx--form-item label {
  color: $color-neutral-50;
}

.bx--global-light-ui .modal-body .form-item input, .bx--global-light-ui .modal-body .form-item input:hover, .bx--global-light-ui .modal-body .form-item textarea, .bx--global-light-ui .modal-body .form-item select {
  border: 1px solid #505258;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
}

.modal-content {
  background-color: $color-light-grey-bg;
  border: none;
  border-radius: 4px;
}

.bx--global-light-ui .modal-body {
  overflow: auto !important;
  padding: 1.25rem 1.5rem;
}

.field--name-application-redirect-endpoints .field-multiple-table tbody {
  border: none;
}
.field--name-application-redirect-endpoints .form-item .clearfix {
  border: none;
  padding-left: 0;
}

.field--name-application-redirect-endpoints .field-multiple-table th.field-label {
  display: table-cell;
  color: $color-neutral-50 !important;
  line-height: normal;
  border-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  padding-left: 0;
}

.field--name-application-redirect-endpoints .field-multiple-table div.form-type-textfield {
  margin-left: 0;
}

.bx--global-light-ui button.apicSecondary.field-add-more-submit {
  border-color: $color-neutral-50;
  color: $color-neutral-50;
  font-size: 14px !important;
  font-weight: normal;
  padding: .5rem;
}


// Кнопка-крест
.field--name-application-redirect-endpoints .field-multiple-table button.multiple-fields-remove-button {
  display: inline-block;
  vertical-align: top;
  height: auto;
  border: none !important;
  background-color: transparent;
}

// Курсор на ключе и пароле
.bx--global-light-ui .form-item input:read-only, .bx--global-light-ui .form-control[readonly] {
  cursor: text;
}

// Оглавление
.panel-default>.panel-heading {
  color: #F3F4F6;
  background-color: transparent;
}

// Модалка добавления новых идентификационных данных ---------------------------------------------------------------
.application-create-credentials-form {
  .form-actions .form-submit {
    margin-left: 1rem !important;
  }
}

// Отмена подписки ---------------------------------------------------------------
.application-unsubscribe-form {
  max-width: 1220px;
  margin: 0 auto;

  .form-group.form-actions {
    justify-content: flex-start;
    flex-direction: row;

    button.form-submit {
      margin-right: 1rem !important;
    }
  }
}