/* ----------------------- OVERRIDE DRUPAL DEFAULTS FOR ORGANISATION PAGE ----------------------- */

.route-ibm-apimmyorg header.apicMyOrgHeader, .route-ibm-apimanalytics header.apicMyOrgHeader {
  background-color: transparent;
  padding: 2rem 3rem 0;
}

@media (max-width: 767px) {
  .route-ibm-apimmyorg header.apicMyOrgHeader, .route-ibm-apimanalytics header.apicMyOrgHeader {
    padding: 2rem 1.5rem 0 1rem;
  }
}

// Владелец организации
.apicMyOrgOwner {
  background: #2D2F35;
  padding: .625rem 1rem;
  border: none;
  border-radius: 8px;
  margin: .8rem 0;
}
@media (max-width: 767px) {
  .apicMyOrgOwner {
    margin: .8rem 1rem;
  }
}

h1.orgName {
  font-weight: 600 !important;
  font-size: 48px;
  line-height: 52px;
  color: #F3F4F6;
}

.memberIcon {
  display: none;
}

// Раздел "Участники"
@media (max-width: 767px) {
  .apicMyOrg .field.organizationMembers .memberHeader {
    margin: 1rem;
  }
}
@media (max-width: 424px) {
  .apicMyOrg .field.organizationMembers .memberHeader {
    flex-direction: column;
  }
}

// Кнопка приглашения участников
.apicNewUser.orgInvite {
  background-color: transparent !important;
  color: #3A85FF !important;

  &:hover {
    color: $color-primary-60 !important;
  }
}
@media (max-width: 424px) {
  .bx--global-light-ui a.button.apicNewUser {
    padding-left: 0;
  }
}


// Заголовок "Участники"
.apicMyOrg .memberHeader h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #F3F4F6;
}

// Список участников
.apicMyOrg .field.organizationMembers {
  padding: 2rem 3rem 6rem;
}

@media (max-width: 767px) {
  .apicMyOrg .field.organizationMembers {
    padding: 2rem 0 6rem;
  }

  .apicMyOrgMembers {
    overflow-x: scroll;
  }
}

.apicMyOrg .apicMyOrgMembers table {
  border: none;
  border-collapse: separate;
  border-spacing: 0 .75rem !important;

  & thead {
    background: inherit;
  }
}
@media (max-width: 767px) {
  .apicMyOrg .apicMyOrgMembers {
    margin-left: 1rem;
  }
}
// Заголовок таблицы с участниками
.apicMyOrg .apicMyOrgMembers th:first-child {
  padding-left: 0;
}
// Строчка участника
.apicMyOrg .apicMyOrgMembers tbody tr,
.apicMyOrg .apicMyOrgMembers tbody tr.member-even,
.apicMyOrg .apicMyOrgMembers tbody tr.member-odd {
  background-color: #2D2F35;
}
.apicMyOrg .apicMyOrgMembers th:first-child, .apicMyOrg .apicMyOrgMembers tbody td:first-child {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.apicMyOrg .apicMyOrgMembers tbody tr.member-even, .apicMyOrg .apicMyOrgMembers tbody tr.member-odd {
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}
.apicMyOrg .apicMyOrgMembers th:first-child, .apicMyOrg .apicMyOrgMembers tbody td:last-child {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.apicMyOrg .apicMyOrgMembers tbody tr.member-even, .apicMyOrg .apicMyOrgMembers tbody tr.member-odd {
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers {
  background: transparent;
}

.apicMyOrg .titleSection .organizationTabs {
  background-color: transparent;
  flex-basis: 100%;
  margin-top: 15px;
}

// Галочка роли участника
.apicMyOrg .apicMyOrgMembers polygon {
  fill: #3A85FF;
}

// Статус участника
.apicMyOrg .apicMyOrgMembers .apicMyOrgStatus {
  color: #E5E7EB;
  font-size: .875rem;
  background-color: #505258;
  padding: .25rem .5rem;
  width: fit-content;
  border-radius: 4px;
  margin: 0 auto;
}

// Управление участниками
.overflow-menu .dropit-icon svg:hover {
  fill: #3A85FF;
}
.dropit-icon {
  transform: rotate(90deg);
}

// Selected class
.applicationWrapper .titleSection .applicationTabs li.selected a, .applicationWrapper .titleSection .applicationTabs li:hover a, .applicationWrapper .titleSection .applicationTabs li:focus a, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li.selected a, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:hover a, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li:focus a, .apicMyOrg .titleSection .organizationTabs li.selected a, .apicMyOrg .titleSection .organizationTabs li:hover a, .apicMyOrg .titleSection .organizationTabs li:focus a {
  color: #3A85FF;
  border-bottom: 2px solid #3A85FF;
}

.apicMyOrg .titleSection .organizationTabs li a {
  color: #E5E7EB;
}

// Аналитика
.ibmapimOrgAnalytics .analyticsWidgetContainer {
  padding: 2rem 2rem;
}

// Статистика вызовов АПИ (последние 100)
.analyticsWidgetContainer #apicalls {
  background-color: transparent;
}

// Форма приглашение нового сотрудника
.bx--global-light-ui .label, .bx--global-light-ui .form-item label, .bx--label {
  color: #7B7E86;
  font-weight: 400;
}

legend {
  color: #7B7E86;
  border-bottom: none;

  & span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
}

// Выбор роли
#edit-role {
  display: flex;

  & .js-form-item {
    margin: 0;
  }
}

@media (max-width: 767px) {
  #edit-role {
    flex-direction: column;
  }
}

form#consumerorg-resend-invitation-form {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}