/* ----------------------- OVERRIDE DRUPAL DEFAULTS FOR SEARCH PAGE----------------------- */

.view.view-search-content {
  max-width: 1220px;
  padding: 1rem;
  margin: 0 auto;
}

// .search-content

.node--view-mode-teaser, article.search-result,
.teaser, .view-search-content article.faq {
  background-color: $color-light-grey-bg;
  color: #E5E7EB;
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
  padding: 1rem;

  ul {
    margin: 0;
  }
}

.apicTeaserIcon {
  display: none;
}

.apicApiTeaserMain h2 {
  margin-bottom: 0;

  a {
    font-size: 1.5rem;
    font-weight: 600;
  }
}