/* ----------------------- замена DRUPAL DEFAULTS FOR PRODUCTS ----------------------- */
// Breadcrumb
.apicProduct .apicProductHeader .breadcrumb, .productApiWrapper header.titleSection .breadcrumb {
  display: flex;
  align-items: center;
  color: $color-neutral-40;
}
.applicationWrapper header.titleSection .breadcrumb a, .apiWrapper header.titleSection .breadcrumb a, .ibmapimGetStarted header .homepageLink.breadcrumb a, .apicProduct .breadcrumb a, .productApiWrapper .breadcrumb a, .breadcrumb a {
  color: $color-neutral-40;
  font-size: .875rem;
  line-height: 20px;
  margin: 0 .5rem;

  &:first-child {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .apicProduct .apicProductHeader .breadcrumb, .productApiWrapper header.titleSection .breadcrumb {
    display: initial;
  }
}

.route-productview .apicMainContent, .route-productapi .apicMainContent {
  display: flex;
  align-items: flex-end;

  .row {
    width: 100%;
    height: 100%;
  }
}

// Карточка продукта в каталоге API ----------------------------------------------------
.bx--card .apicProductCard {
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  display: flex;
}

.node--type-product.bx--card {
  height: auto;
  min-height: 13.25rem;
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .node--type-product.bx--card {
    margin: 0 auto 1rem;
    max-width: 100%;
  }
}

@media (max-width: 374px) {
  .node--type-product.bx--card {
    width: 100%;
  }

  .views-element-container.form-group {
    width: 100%;
  }
  
  .apicProductApiList li {
    min-width: auto;
  }
}

// Название карточки
.bx--card .apicProductCardMain .bx--about__title--name {
  width: 100%;
  height: auto;
  padding-bottom: 0;
}
.bx--card .apicProductCardMain {
  width: 100%;

  .apicProductName {
    max-width: 100%;
    
    span {
      display: block;
      white-space: break-spaces;
      max-height: 6rem;
      overflow: hidden;
    }
  }
}


.bx--card .apicApiCount {
  border-top: none;
  margin: 0 1rem;
  padding: 1rem 0;
}

.bx--card .apicProductCardMain {
  margin-left: 0;
  width: 100%;
}


.apicProductCardVersionAndRating {
  display: flex;
}

.bx--card .apicProductCardVersion {
  font-size: .875rem;
  color: $color-neutral-50;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 12px;
  line-height: 16px;
  min-width: 3.1rem;
}

// Звезды (рейтинг)
.br-widget a:after {
  content: '\e006';
  color: $color-neutral-50 !important;
}
.bx--card .votingapi-widgets .select-wrapper a {
  font-size: 19px;
}
.br-theme-bootstrap-stars .br-widget {
  height: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  max-width: 7.25rem;
}

.catalog-info-public-cards-item {
  min-height: unset;
  max-width: unset;
  padding: 1.25rem 1.25rem 3rem;

  .card-read_more {
    left: unset;
    bottom: 1.25rem;
  }

  p {
    max-width: unset !important;
    margin-bottom: 0 !important;
  }

  &-description {
    margin-top: .5rem;
  }
}
// Саммари (сводка) продукта
.apicProduct .label, .apicProduct .apicProductSummary .field--label, .apicProduct .apicAttachments .field--label, .apicProduct .customFields .field--label, .apicProduct .apicProductDesc .field--label, .apicProduct .customDocPages .field--label {
  font-weight: 500;
}
// Описание продукта
.catalog-info-public-cards-item-description .field--name-apic-summary .field--item {
  text-align: justify;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

// Страница продукта ------------------------------------------------------
.apicProductTitle {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.apicProductTitleText {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 50rem;
  word-break: break-word;
}

.productName {
  font-weight: 600;
  margin-bottom: 1rem;
  color: inherit;
}

@media (max-width: 767px) {
  .productName {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}

.apicProductVersion {
  margin: 0 0 1.5rem;
  font-size: 1rem;
  display: flex;
  align-items: baseline;
  color: $color-neutral-10;

  &Text {
    margin-right: .2rem;
  }
}

.br-theme-css-stars .br-widget {
  height: 28px;
  white-space: nowrap;
  width: 12rem;
  display: flex;
  justify-content: space-around;
}
// Звезды рейтинга
.br-theme-css-stars .br-widget a {
  font-size: 1.5rem;
  margin-right: 1px;
}

.apicProductTitleDescription {
  max-width: 37rem;
  // margin-top: 4.875rem;
  margin-top: 1rem;

  p {
    margin-bottom: 1.5rem;
  }
}

// Описание / обзор
.field--name-apic-summary {
  .field--label {
    display: none;
  }
  
  .field--item {
    line-height: 1.5rem;
  }
}

// Лэйблы "API" и "Тарифные планы"
h2.field__label.label {
  color: $color-neutral-10;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 32px;
}

// Секция API
@media (max-width: 1220px) {
  .apicProduct {
    max-width: 97%;
    margin: 0 auto;
  }
}

.apicProduct .apicProductBody {
  padding: 0;
  margin: 0 auto;
  max-width: 1220px;
}

.apicProduct .apicProductBody .field {
  margin: 0;
}
// Хэдер
.apicProduct .apicProductHeader {
  margin: 0 auto;
  max-width: 1220px;
  border-bottom: none;
  background: none;
  padding: .625rem 0;
}

// Обертка карточек API
.apicProductApiList {
  margin-bottom: 2.5rem;
  & > .views-element-container.form-group {
    width: 100%;
    padding: 0;
  }
}

.block-column, .blazy.block-column, .item-list>.block-column {
  display: flex;
  flex-wrap: wrap;
}

// Обертка карточкИ API
.main-container .apicProductApiList li {
  display: inline-flex;
}


// Карточка API
.node--type-api.node--view-mode-embedded.bx--card {
  min-height: 8rem;
  border: none;
  padding: 1.25rem;
  position: relative;
  width: 100%;
  max-width: 17.5rem;
}

article a.card-read_more.link-primary {
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  // &:hover {
  //   color: $color-primary-60;
  //   text-decoration-line: underline;
  //   text-underline-offset: 3px;
  // }
}

.bx--card .apicApiCard {
  padding: 0;
  display: flex;
  grid-template-columns: none;
}

.bx--about__title--name {
  width: 100%;
  height: auto;
  padding: 0 0 10px;
}

.bx--card .apicApiCardMain {
  margin-left: 0;
  width: 100%;
}


.apicApiCardVersion {
  font-size: .75rem;
  display: flex;
  align-items: baseline;
  margin-top: .3rem;
  color: $color-neutral-50;

  & > * {
    font-size: .75rem;
  }
}

// Тарифные планы
.subHeading {
  display: flex;
  padding: 20px 0;
  max-width: 1220px;
  margin: 0 auto;
  width: 100%;
}

.field.plans.footer-bg {
  align-items: initial;
  flex-direction: column;
  padding: 3.75rem 2rem 0;
}
@media (max-width: 768px) {
  .field.plans.footer-bg {
    padding-right: 0;
  }
}

@media (max-width: 768px) {
  .planComparisonTable {
    overflow-x: scroll;
  }
}
@media (max-width: 500px) {
  .planComparisonTable {
    display: initial;
  }
}

h2.field__label.label.tariff-label {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
}


.apicTableFixedContainer {
  display: flex;
  justify-content: initial;
  background: transparent;
  max-width: 1220px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .apicTableFixedContainer {
    flex-wrap: wrap;
  }
}

.tariff-plans-section {
  color: $color-neutral-05;
  
  // &-paid {
  //   max-width: 50rem;
  //   margin-left: 2rem;
  // }

  &-description {
    width: 100%;
    display: flex;
    margin-top: 1.5rem;
    color: $color-neutral-50;

    &-free {
      max-width: 17rem;
      margin-right: 1rem;
    }
    &-paid {
      max-width: 50rem;
    }
  }

  &-text {
    width: 100%;
    margin: 2.5rem 0 3rem;
    color: $color-neutral-50;
  }
}


.tariff-plans {
  display: flex;
  justify-content: flex-start;
}

.footer-bg .tariff-plans {
  background: #111215;
}
@media (max-width: 768px) {
  .footer-bg .tariff-plans {
    padding-top: 3rem;
  }
}
@media (max-width: 425px) {
  .footer-bg .tariff-plans {
    padding-top: 1rem;
  }
}

.tariff-plan {
  max-width: 17.5rem;
  min-width: 11rem;
  width: 100%;
  margin-right: 1rem;
  
  &-title {
    margin-bottom: .5rem;
  }
  
  &-label {
    color: $color-neutral-50;
    margin: 0 0 .5rem;
  }
  
  &-api_calls {
    margin: 0 0 1rem;
    display: flex;

    h2 {
      font-weight: 600;
    }
  }
  
  &-price {
    margin: 0 0 1.25rem;
    font-weight: 600;

    &-title {
      margin-left: .5rem;
    }
  }
  
  &-button-subscribe {
    padding: .625rem 1.5rem !important;
    margin-bottom: 1.5rem;
  }
}

// Дополнительная информация внизу страницы
.productInfoWrapper {
  background-color: #111215;
  width: 100%;
}

.productInfo{
  display: flex;
  max-width: 1220px;
  margin: 0 auto;
  justify-content: space-between;
}
