/* ----------------------- замена DRUPAL DEFAULTS FOR API PAGE ----------------------- */
// Верх страницы ------------------------------------------------
.productApiWrapper #innerWrapper>article:not(.apiprotocol-graphql) {
  border-top: none;
}

// Две колонки вместе
.apicProduct .apicProductBody, .productApiWrapper #innerWrapper {
  padding: 0;
  max-width: 1220px;
  margin: 0 auto;
}
@media (max-width: 1220px) {
  .apicProduct .apicProductBody, .productApiWrapper #innerWrapper {
    max-width: 97%;
  }
}

// Отображение контента целиком без прокрутки
.SplitPane.vertical {
  position: static !important;
}
.apiconnect-explorer .stretch {
  position: static;
}


// Левая колонка ------------------------------------------------
.Pane.vertical.Pane1 {
  max-width: 17.5rem;
  margin-right: 8.5rem;
}

.apiconnect-explorer-menu .explorer-toc ul ul {
  min-width: 17.5rem;
}

ul.apiContent {
  background: $color-light-grey-bg;
  border-radius: 8px;
  padding: 15px 5px !important;
}

.bx--global-light-ui .apiconnect-explorer .explorer-toc ul .tocItem a:hover,
.bx--global-light-ui .apiconnect-explorer .explorer-toc ul .tocItem a.selected {
  background-color: transparent;
}
.bx--global-light-ui .apiconnect-explorer .explorer-toc a {
  outline: none;
}
.bx--global-light-ui .apiconnect-explorer .explorer-toc a.selected {
  color: $color-primary-50;
  border-left: 0;
}

li.searchListItem {
  display: none !important;
}

// Правая колонка ------------------------------------------------
.Pane.vertical.Pane2 {
  max-width: 37rem;
  width: 100%;
}

// Ошибки валидации сваггера
section.swaggerValidationErrors {
  display: none;
}

.apiconnect-explorer .operation-section .operationHeader, .apiconnect-explorer .overview-section .overviewHeader, .apiconnect-explorer .overview-section .overviewBody, .apiconnect-explorer .definitions-section .definitionsHeader, .apiconnect-explorer .definitions-section .definitionsBody {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.apiconnect-explorer .operation-section .operationHeader {
  flex-direction: column;
}

// Тэг под названием метода
.operationTags.tagsContainer {
  margin-top: 1rem;
}

.apiconnect-explorer .operation-section .operationDisplay section.tab-content {
  padding: 0;
}

// Заголовок
a.subscribeButton.button {
  padding: .75rem 1.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 24px;
}

.apicApiIcon {
  display: none;
}

.Resizer.vertical {
  display: none;
}

// Информационная кнопка
.bx--tag {
  width: max-content;
}
// Подсказка, появляющаяся после клика на инфо. кнопку
.bx--tooltip {
  background: $color-light-grey-bg;
  color: #F3F4F6;
  border: none;
}
.bx--tooltip .bx--tooltip__caret {
  background: $color-light-grey-bg;
  border: none;
}

// Раздел "Обзор"
section.overviewHeader {
  margin-bottom: 2rem;
  h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
  }
}

.apiconnect-explorer .labelText {
  font-size: 1rem;
}

.apiconnect-explorer .operationInformation.operationDownloadOpenApi {
  width: fit-content;
  padding: 12px 28px;
  border: 1px solid #3A85FF;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  .labelText {
    color: $color-primary-50;
    font-weight: 500;
    line-height: 24px;
    padding: 0;
    margin-left: .45rem;
  }

  &:hover {
    background: rgba(136, 136, 136, 0.08);
  }
  &:active {
    background-color:  rgba(255, 255, 255, 0.2);
  }
  &:focus {
    outline: none;
  }
}

use {
  fill: $color-primary-50;
}

.apiconnect-explorer .operationInformation, .apiconnect-explorer .operationDisplay .testToolSection {
  display: -ms-flexbox;
  display: flex;
  grid-template-columns: unset;
  -ms-grid-columns: unset;
  padding: 20px 0;
}

@media (max-width: 767px) {
  .testToolSection:not(.testToolEndpoints) {
    flex-direction: column;
  }
  .apiconnect-explorer .testTool .bx--text__input {
    min-width: auto;
  }
}

// Лэйблы
.operationInformation .labelText {
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}
.operationParms .labelText {
  font-weight: 600;
  font-size: 1.25rem;
  margin-bottom: 1.5rem;
}
// Текст справа от лэйблов
.apiconnect-explorer .overviewBody .valueText {
  display: flex;
  align-items: center;
}


// Эндпоинты
.apiEndpoint {
  margin-bottom: .4rem;
}
.apiEndpointType {
  max-width: 7rem;
}

@media (max-width: 767px) {
  .apiEndpointUrl {
    font-size: .6rem;
  }
}

// Маркер "обязательный" / "необязательный" параметр
.parameterIn {
  font-size: 12px;
  line-height: 16px;
  color: $color-neutral-10;
  background-color: #505258;
  width: fit-content;
  max-width: 100%;
  word-break: break-all;
  padding: .25rem .5rem;
  border-radius: 4px;
}
// "Обязательный" параметр
.requiredHighlight {
  color: $color-neutral-10 !important;
  background-color: #591C04;
}

// Тип параметра
.apiconnect-explorer .schema.parameterType {
  font-style: italic;
}

//Описание параметра
@media (max-width: 767px) {
  .apiconnect-explorer .parameterDescription.markdown p {
    font-size: .7rem;
  }
}

// Расширения API
.apiconnect-explorer .extensionDisplay code div {
  background-color: transparent;
}

// Тип / эндпоинт
.operationType .labelText,
.operationEndpoints .labelText {
  color: $color-neutral-50;
}

// Безопасность
.operationInformation.operationSecurity {
  display: flex;
  flex-direction: column;

  .labelText {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 1.5rem;
  }
}

.bx--tile.securityOption.securityOption-1 {
  border: none;
  padding: 0;
}

.apiconnect-explorer .securityTitle {
  font-weight: 400;
  display: flex;
  flex-direction: column;
}

.apiconnect-explorer .securityOptionPart {
  -ms-flex-direction: row;
  flex-direction: row;
  align-items: baseline;
}

.securityTitle.keyValueDisplay {
  color: $color-neutral-50;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 400;

  .key.securityTitle:last-child {
    display: none;
  }
}

.securityNameAndType.keyValueDisplay {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  flex-direction: row;
  -ms-grid-columns: unset;
  grid-template-columns: unset;
  grid-row-gap: unset;
  padding: 0;
}

// .apiconnect-explorer .operationDisplay .testToolSecurity {

// }
.bx--module .bx--module__inner {
  background-color: transparent;
}
.bx--module .bx--module__header {
  padding: 0;
  border-bottom: none;
  margin-bottom: 1rem;
}
.apiconnect-explorer .bx--module .bx--module__title {
  color: inherit;
  line-height: 100%;
}
.bx--module .bx--module__content {
  padding: 0%;

  .clientID .labelText {
    display: none;
  }
}

// Контакты
.apiconnect-explorer a, .apiconnect-explorer .bx--link {
  color: $color-primary-50;
}

// Поддержка / форум
.infoSection.forum {
  display: none;
}

// Методы ------------------------------------------------
.bx--tabs__nav-item--selected {
  border-bottom: 2px solid $color-primary-60;
}

.operationInformation.operationSummary {
  flex-direction: column;
  padding-bottom: 0;
}

.apiconnect-explorer .operationInformation .operationDescription {
  padding-top: 0;
}

.apiconnect-explorer .labelText.method {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: inherit !important;
  margin-bottom: 1rem;
  align-self: auto;
}

.apiconnect-explorer .testTool ul.bx--accordion .bx--accordion__content {
  background-color: transparent;
  // padding-top: 0rem;
}

.apiconnect-explorer .operation-section .operationDisplay .bx--tabs.op-tabs {
  padding: 0;
  min-height: auto;
  border-bottom: 2px solid #37383C;
}
@media (max-width: 767px) {
  .apiconnect-explorer .operation-section .operationDisplay .bx--tabs.op-tabs {
    max-width: 10rem;
  }
}

.operationTitle {
  padding-right: 0;

  h2 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2rem;
  }
}
@media (max-width: 767px) {
  .operationTags.tagsContainer span {
    height: auto;
    font-size: .7rem;
    max-width: 6rem;
    word-break: break-all;
    padding: 0.5rem;
  }
  .operationTitle {
    h2 {
      font-size: 1rem;
      line-height: 1;
    }
  }
}
// разворачивающиеся пункты
.apiconnect-explorer .bx--accordion__heading {
  background: transparent;
  border: none;
  border-top: 0;
}
.bx--global-light-ui .apiconnect-explorer button.bx--accordion__heading {
  color: $color-neutral-10;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  & > * {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
}
.bx--accordion__item {
  border-bottom: none;
  border-top: 1px solid $color-neutral-80;

  &:last-child {
    border-bottom: 1px solid $color-neutral-80;
  }
  &:only-child {
    border-bottom: none;
  }
}


// Инпуты
.apiconnect-explorer .bx--text__input {
  font-weight: inherit;
  background-color: transparent;
  color: $color-neutral-50;
  border: 1px solid #505258;
  border-radius: 4px;

  &:hover {
    border: 1px solid #505258;
  }
}
span.input-group-addon {
  display: none;
}

// Контент из 2х колонок
.bx--data-table-v2 th:first-of-type, .bx--data-table-v2 td:first-of-type {
  padding-left: 1rem;
  border-left: none;
}
.bx--data-table-v2 th:last-of-type, .bx--data-table-v2 td:last-of-type {
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .bx--data-table-v2 th:last-of-type, .bx--data-table-v2 td:last-of-type {
    padding: 0 0 0 .8rem;
  }
}

.apiconnect-explorer .parameterNameContainer, .apiconnect-explorer .responseHeaderNameContainer {
  width: 23%;
}

.bx--data-table-v2 tbody {
  font-size: .875rem;
  background-color: transparent;
  border-right: none;
}
.bx--global-light-ui .apiconnect-explorer button.bx--accordion__heading:focus, .bx--global-light-ui .apiconnect-explorer button.bx--accordion__heading:hover, .bx--global-light-ui .apiconnect-explorer button.bx--accordion__heading:active {
  // background: rgba(136, 136, 136, 0.08);
  background: transparent;
  border: none;
  border-top: 0;
}
.bx--accordion__heading:focus .bx--accordion__arrow {
  outline: none;
}
.bx--accordion__item>.bx--accordion__heading>.bx--accordion__arrow {
  transform: rotate(90deg);
}
.bx--accordion__item--active>.bx--accordion__heading>.bx--accordion__arrow {
  transform: rotate(-90deg);
}

.bx--data-table-v2 th, .bx--data-table-v2 td {
  font-size: .875rem;
  border-top: none !important;
  border: none;
  padding-left: .75rem;
  vertical-align: middle;
  text-align: left;
  color: #F3F4F6;
}

.apiconnect-explorer .definitionDisplay .bx--tabs, .apiconnect-explorer .definitionsBody .definitionDisplay .bx--tabs, .apiconnect-explorer .operation-section .operationDisplay .responseSchema .definitionDisplay .bx--tabs {
  padding: .5rem 1rem;
  min-height: unset;
  border-bottom: none;
  background-color: transparent;
  // color: #F3F4F6;
}



.apiconnect-explorer .definitionDisplay .body, .apiconnect-explorer .codeSnippetsDisplay .body, .apiconnect-explorer .testRequestBody .body, .apiconnect-explorer .testResponseBody .body, .apiconnect-explorer .apiexplorer--snippet--light {
  border-top: none;
  padding: 1rem;
  background: $color-light-grey-bg;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .apiconnect-explorer .definitionDisplay .body, .apiconnect-explorer .codeSnippetsDisplay .body, .apiconnect-explorer .testRequestBody .body, .apiconnect-explorer .testResponseBody .body, .apiconnect-explorer .apiexplorer--snippet--light {
    border-top: none;
    padding: .3rem;
    background: $color-light-grey-bg;
    border-radius: 8px;
  }
}
.apiconnect-explorer .definitionDisplay .body.small {
  padding: 0 1rem 0 0;
}

.body.small > * {
  color: #F3F4F6;
}

code span, .json-schema-view * {
  color: #F3F4F6 !important;
}
// Переключалка (напр. сведения/попробовать)
li.bx--tabs__nav-item.bx--tabs__nav-item--selected {
  // border-bottom: none;

  & a {
    color: $color-neutral-10;
  }
}
@media screen and (min-width: 768px) {
  .bx--tabs__nav-item--selected .bx--tabs__nav-link:focus, .bx--tabs__nav-item:hover .bx--tabs__nav-link {
    color: $color-neutral-10;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }
}

// Блок кода
.apiconnect-explorer .json-schema-view, .apiconnect-explorer json-schema-view, .apiconnect-explorer .bodyParam textarea, .apiconnect-explorer code {
  color: #F3F4F6;
}
.bx--global-light-ui .apiconnect-explorer .hljs {
  color: #F3F4F6;
}
.definitionDisplay .tab-content {
  padding: 0 0 1rem 1rem;
}
.apiconnect-explorer pre {
  margin: 0;
  padding-right: 2rem;
}

// Ответы
.operationInformation.operationSummary.responseSelection,
.operationInformation.operationSummary.exampleRequest {
  flex-direction: column;

  & .labelText {
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
}
select#operationResponses {
  background-color: transparent;
  border-bottom: none;
  border: 1px solid #505258;
  border-radius: 4px;
  color: $color-neutral-10;
}
.apiconnect-explorer .responsesContainer .responseDescription {
  color: $color-neutral-10;
  padding-top: 0;
  padding-left: 1rem;
  font-style: italic;
  font-size: .875rem;
}
.responsesContainer {
  display: flex;
  align-items: baseline;
}

// Определения
.bx--data-table-v2 {
  border-bottom: none;
}
.bx--data-table-v2 thead {
  font-size: .875rem;
  background-color: transparent;
  font-weight: 700;
  border-right: none;
}
.bx--data-table-v2 tr:hover td {
  background-color: transparent;
  border: none !important;
}
tr.bx--parent-row-v2.bx--expandable-row-v2 {
  border-bottom: none;
}
.bx--data-table-v2 th, .bx--data-table-v2 td {
  border-top: none;
}
.bx--data-table-v2--zebra tbody tr:nth-child(even) {
  background-color: transparent;
}
tr.bx--expandable-row-v2:hover+tr[data-child-row]>td {
  background-color: transparent;
  border-bottom: none;
  border-right: none;
}
.apiconnect-explorer .definitionDisplay, .apiconnect-explorer .definitionsBody .definitionDisplay, .apiconnect-explorer .responseSchema .definitionDisplay {
  border: none;
  background-color: $color-light-grey-bg;
  border-radius: 8px;
}
.apiconnect-explorer .bx--tabs__nav {
  position: unset;
  color: #7B7E86;
  display: flex;
  align-items: center;
  margin-bottom: -2px;
}
@media (max-width: 767px) {
  .apiconnect-explorer .bx--tabs__nav {
    background-color: transparent;
    align-items: flex-start;
  }
  .bx--tabs__nav.bx--tabs__nav--hidden {
    display: none;
  }
  .bx--tabs__nav-link {
    padding: .35rem 0;
  }
}
.definitionsBody table thead,
.definitionsBody table tr {
  border-bottom: 1px solid $color-neutral-80;
}


li.bx--tabs__nav-item {
  padding: 0 1rem .5rem;
  background-color: transparent;
  margin: 0;

  a {
    color: inherit;
    font-weight: 400;
    line-height: 1.25rem;
    padding-right: 0;
  }

  &--selected {
    display: flex;
    align-items: center;
    border-bottom: 2px solid $color-primary-60;

    a {
      color: $color-neutral-10;
      // font-weight: 400;
    }
  }
}

// Табы внутри выпадающих определений
.definitionDisplay ul.bx--tabs__nav {
  background-color: $color-neutral-90;
  border-radius: 16px;
  margin-bottom: 0;
  padding: 4px;
  width: fit-content;
  li.bx--tabs__nav-item {
    padding: 2px 2rem;
    background-color: transparent;
    margin: 0;
    border-radius: 16px;
  
    a {
      color: inherit;
      font-weight: 400;
      line-height: 1.25rem;
      padding-right: 0;
    }
  
    &.bx--tabs__nav-item--selected {
      display: flex;
      align-items: center;
      border-bottom: none;
      background-color: $color-neutral-70;
  
      a {
        color: $color-neutral-10;
      }
    }
  }
}

tr.bx--expandable-row-v2+tr[data-child-row] td {
  padding: .5rem;
}
// Отключение пропадающих границ по ховеру
.apiconnect-explorer .parameterTable.bx--data-table-v2 tbody tr:hover td, .apiconnect-explorer .definitionsBody .bx--data-table-v2 tbody tr:hover td {
  border: none;
}
// Стрелки в определениях
.bx--table-expand-v2__svg {
  fill: $color-neutral-50;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.bx--table-expand-v2[data-previous-value='collapsed'] .bx--table-expand-v2__svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
// Отключение аутлайна стрелок по клику (focus)
.bx--table-expand-v2__button:focus svg {
  -webkit-box-shadow: none;
  box-shadow: none;
}

// Отключение синей полоски слева на "открытой вкладке"
tr.bx--expandable-row-v2>td:first-of-type:before {
  background-color: transparent;
}

// Подписаться на АПИ ------------------------------------------------
.planTableSelector {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid;
}

.route-ibm-apimsubscription-wizard .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardstep .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardnoplan .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardnoplanstep .apicMainContent .wizard-trail, .route-mail-subscribersproduct-wizard .apicMainContent .wizard-trail, .route-mail-subscribersproduct-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersplan-wizard .apicMainContent .wizard-trail, .route-mail-subscribersplan-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersapi-wizard .apicMainContent .wizard-trail, .route-mail-subscribersapi-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersall-wizard .apicMainContent .wizard-trail, .route-mail-subscribersall-wizardstep .apicMainContent .wizard-trail {
  height: 100px;
  background-color: transparent;
  border-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

// Модалка
.modalAppResultContainer.modal-dialog {
  color: $color-neutral-10;
}
.clientIDContainer .field__label, .clientSecretContainer .field__label, .applicationCredentials .credentialsTable .credentialsContent .credentialsData .field__label {
  color: $color-neutral-50;
}
.bx--global-light-ui .modal-header {
  padding: 1rem 3rem .5rem;
}

// Планы
.apicTableFixedColumn table thead {
  background-color: transparent;
}
// Развернутые планы
.apicTableFixedColumn tbody tr.api-odd,
.apicTableFixedColumn tbody tr.api-even {
  background-color: transparent;
}
// Окончание подписки
.apicForm {
  .apicFormHeader {
    font-style: normal;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 24px;
    padding: 0;
  }
  .apicFormText {
    padding: 0;
    margin: 1rem 0;
  }
}
.apicSubscribedProduct {
  padding: 0 !important;
  margin-bottom: 1rem !important;
  .apicCardIcon {
    display: none;
  }
  .apicSubProductCard {
    margin-left: 0 !important;
  }
}
.apicSubscribedApp {
  padding: 0 !important;
  .apicCardIcon {
    display: none;
  }
  .bx--about__title--name {
    margin-left: 0 !important;
  }
}


// Подвал ------------------------------------------------
.page-node-type-api footer, .route-productapi footer {
  display: flex;
}


// Адаптив ------------------------------------------------

// Главный заголовок
.productApiWrapper .titleInnerWrapper .leftTitle {
  width: 100%;
  max-width: 50rem;
}

.apiconnect-explorer .SplitPane:not(.showResponsiveMenu) {
  background-color: transparent;
  padding-bottom: 3rem;
}

@media (max-width: 767px) {
  .apiconnect-explorer .SplitPane:not(.showResponsiveMenu) {
    margin-top: 1rem;
  } 
}

// Кнопка открытия меню с методами (левая колонка)
.apiconnect-explorer button.expMenuCollapseButton {
  position: absolute;
  top: -.5rem;
  left: 0;
  background-color: $color-primary-60 !important;

  & .line {
    background-color: #fff;
  }
}

// Табы "Сведения/попробовать"
.bx--tabs-trigger, .bx--tabs-trigger:focus {
  background-color: transparent;
  box-shadow: none;
}
a.bx--tabs-trigger-text {
  color: $color-primary-60;
}
// Отключение рамки у контента под табами
.apiconnect-explorer .operation-section .operationDisplay .tab-content {
  border: none;
}

// .bx--tabs__nav--hidden {
//   display: none !important;
// }
@media (max-width: 767px) {
  // Две колонки вместе
  .apicProduct .apicProductBody, .productApiWrapper #innerWrapper {
    padding: 0 .5rem 1rem;
  }

  .bx--global-light-ui .views-exposed-form {
    flex-direction: column;
  }

  .bx--global-light-ui .views-exposed-form .form-item {
    margin-left: 0;
  }
}

