/* ----------------------- OVERRIDE DRUPAL DEFAULTS FOR SUPPORT PAGE ----------------------- */

// Отключение показа форума
.forumDiv {
  display: none;
}

// Блок с вопросами и фильтром
.supportContentWrapper {
  max-width: 1220px;
  margin: 0 auto;
}
.apicMainContent .supportContentWrapper .views-element-container .view {
  background-color: inherit;
  background: inherit;
  border: none;
}

// Блок с заголовком "Часто задаваемые вопросы" и фильтром
.bx--global-light-ui .view-faqs .views-exposed-form {
  flex-direction: column-reverse;
}

// Отключение фильтров
.faqDiv #apic-view-filter {
  display: none;
}

// Заголовок "Часто задаваемые вопросы"
.bx--global-light-ui .view-faqs .views-exposed-form h2.viewTitle {
  font-weight: 600;
  margin: 2.5rem 0;
}

// Блок со сгруппированными вопросами
article.faq {
  margin-bottom: 2.5rem;
  h2 a span {
    font-weight: 600;
    font-size: 1.25rem;
  }
  .content {
    align-items: initial;
  }
}

// Вопрос
.views-element-container .view.view-faqs .ui-state-default,
.views-element-container .view.view-faqs .ui-state-active {
  color: #E5E7EB;
  font-weight: 600;
  line-height: 20px;
  border-top: 1px solid #505258;
  border-radius: 0;
}
.ui-accordion .ui-accordion-header.faqfield-question {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span.ui-accordion-header-icon {
    display: none;
  }
}


// Ответ
.supportContentWrapper .views-element-container .view .ui-widget-content {
  color: #E5E7EB;
  height: auto !important;
  text-align: justify;
}

// Создание материала Вопросы и ответы
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: inherit;
}
.table-hover>tbody>tr:hover {
  background-color: inherit;
}

// Кнопка скрыть/показать форму отправки отзыва
.feedbackToggle {
  display: none;
}

// Блок с соц. сетями
.socialDiv {
  display: none;
}

// Форма с фидбэком
#contact-message-feedback-form {
  padding-right: 1rem;
}

.supportContentWrapper .contactDiv {
  flex: none;
}

.contactFormDiv {
  width: 100%;
  max-width: 37rem;
  padding: 1.5rem;
  background-color: #2D2F35;
  border-radius: 8px;
}

// Капча
[data-drupal-selector="edit-captcha"] {
  position: relative;
}

// Картинка капчи
[data-drupal-selector="edit-captcha-image"] {
  border-radius: 8px;
  margin-bottom: 1.25rem;
}

#contact-message-feedback-form {
  .bx--label {
    font-weight: normal;
    font-size: 14px;
    color: $color-neutral-50;
  }
}

.reload-captcha-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  padding: .625rem 1.5rem .625rem;
}

.reload-captcha {
  font-weight: 500;
  font-size: .875rem;
  color: $color-primary-50;
  display: flex;
  align-items: center;

  svg {
    margin-right: .375rem;
  }

  &:hover {
    color: $color-primary-50;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
}

// Подпись к капче
#edit-captcha-response--description {
  display: none;
}

// Отдельная страница с вопросами (открывается по клику на вопрос на странице поиска)
article.faq.full {
  margin-bottom: 2.5rem;
  margin: 1rem auto 2.5rem;
  max-width: 1220px;
}
// Вопрос
.ui-accordion .ui-accordion-header.faqfield-question {
  background-color: transparent;
  border: none;
  color: #E5E7EB;
  width: 100%;
  max-width: 45rem;
  padding: .5rem;
  font-weight: 600;
}
// Ответ
.ui-accordion .ui-accordion-content {
  background-color: transparent;
  border: none;
  padding: .5rem;
  width: 100%;
  max-width: 45rem;
  height: auto !important;
  color: #E5E7EB;
  text-align: justify;
}