/* ----------------------- замена DRUPAL DEFAULTS FOR APPS PAGE----------------------- */

// Верхняя часть
a.button.apicNewApp {
  padding: .75rem 1.75rem;
}

.view-empty {
  max-width: 1220px;
  margin: 0 auto;
}

// Обертка заголовка "Приложения" и кнопка "создать новое приложение"
.views-exposed-form {
  .apicNewAppWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    max-width: 1220px;
    display: flex;
    justify-content: flex-end;
  
    .apicNewApp {
      margin-top: .5rem;
    }
  }
}

@media (max-width: 1220px) {
  .apicNewAppWrapper {
    right: 1rem;
  }
}
@media (max-width: 767px) {
  .apicNewAppWrapper {
    position: static !important;
    justify-content: flex-start !important;
    margin: 0 1rem 1rem .5rem;
  }
}


// Карточки приложений ------------------------------------------------------------------------------------------------------
.masonry-item.views-row {
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .masonry-item.views-row {
    width: 100%;
  }
}

.masonry-layout-applications.form-group.masonry {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1220px;
}

.node--type-application.bx--card {
  min-height: unset;
  min-width: 15.625rem;
  height: 7.75rem;
  max-width: 17.5rem;
  margin: 0;
  padding: 1.25rem;
  position: relative;
}

.bx--card .apicAppCard {
  height: auto;
  padding: 0;
}

.node--type-application.bx--card a .apicAppName {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $color-neutral-10;
}

.apicAppDesc.apicFade {
  display: none;
}

.node--type-application.bx--card .apicCardIcon {
  display: none;
}

.node--type-application.bx--card .apicAppCardMain {
  text-align: left;
  height: auto;
}

.applicationType {
  margin-top: 0;
  border-radius: 4px;
}

.bx--card-footer {
  background-color: $color-light-grey-bg;
  color: $color-neutral-10;
  padding: 0;
  position: absolute;
  bottom: 1.25rem;
  left: 1.25rem;
  height: auto;

  button {
    padding: 10px 24px !important;
    line-height: unset;
  }
}

.bx--card-footer__app-status {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  background-color: #003111;
  padding: .25rem .5rem;
  border-radius: 4px;
}

.apicAppStatus:before {
  display: none;
}



// Страница конкретного приложения
.applicationWrapper {
  max-width: 1220px;
  margin: 0 auto 6rem;
}

.analyticsWidgetContainer #appAnalyticsSummary {
  background-color: transparent;
}

@media (max-width: 767px) {
  .analyticsWidgetContainer {
    display: flex;
    flex-direction: column;
  }

  ul.tabs--primary {
    display: flex;
  }
}

.applicationSubscriptions .subscriptionsTable .subscriptionsContent table tbody tr:nth-child(even) {
  background-color: transparent;
}

.applicationSubscriptions {
  margin: 2rem 0 5rem;
}