@import 'drupal-override-cookie';
@import 'drupal-override-product';
@import 'drupal-override-api-page';
@import 'drupal-override-profile';
@import 'drupal-override-apps';
@import 'drupal-override-app-page';
@import 'drupal-override-organisation';
@import 'drupal-override-support';

/* ----------------------- STYLES TO OVERRIDE DRUPAL DEFAULTS ----------------------- */
// Всевозможные окна с белой границей
.route-apic-appcreate .main-container .row, .route-apic-appcreate-step-two .main-container .row, .route-applicationcreate .main-container .row, .route-applicationcreate-step-two .main-container .row, .route-apic-appverify-clientsecret .main-container .row, .route-apic-appcredentials-create .main-container .row, .route-apic-appreset-clientid .main-container .row, .route-apic-appreset-clientsecret .main-container .row, .route-apic-appcredentials-update .main-container .row, .route-apic-appcredentials-delete .main-container .row, .route-apic-appupdate .main-container .row, .route-apic-appdelete .main-container .row, .route-apic-apppromote .main-container .row, .route-apic-appimage-upload .main-container .row, .route-apic-appimage-delete .main-container .row, .route-consumerorgcreate .main-container .row, .route-consumerorgupdate .main-container .row, .route-consumerorgdelete .main-container .row, .route-consumerorgchangeowner .main-container .row, .route-consumerorginvite .main-container .row, .route-consumerorgremove-user .main-container .row, .route-consumerorgresend-invite .main-container .row, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form, .route-entityuseredit-form .main-container .row .user-form, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input, form.user-pass-reset, .apicForm, .apic-user-form {
    border: none;
}

.route-ibm-apimsubscription-wizard .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardstep .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardnoplan .apicMainContent .wizard-trail, .route-ibm-apimsubscription-wizardnoplanstep .apicMainContent .wizard-trail, .route-mail-subscribersproduct-wizard .apicMainContent .wizard-trail, .route-mail-subscribersproduct-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersplan-wizard .apicMainContent .wizard-trail, .route-mail-subscribersplan-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersapi-wizard .apicMainContent .wizard-trail, .route-mail-subscribersapi-wizardstep .apicMainContent .wizard-trail, .route-mail-subscribersall-wizard .apicMainContent .wizard-trail, .route-mail-subscribersall-wizardstep .apicMainContent .wizard-trail {
    height: 100px;
    background-color: transparent;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Инпут
.route-apic-appcreate .main-container .row, .route-apic-appcreate-step-two .main-container .row, .route-applicationcreate .main-container .row, .route-applicationcreate-step-two .main-container .row, .route-apic-appverify-clientsecret .main-container .row, .route-apic-appcredentials-create .main-container .row, .route-apic-appreset-clientid .main-container .row, .route-apic-appreset-clientsecret .main-container .row, .route-apic-appcredentials-update .main-container .row, .route-apic-appcredentials-delete .main-container .row, .route-apic-appupdate .main-container .row, .route-apic-appdelete .main-container .row, .route-apic-apppromote .main-container .row, .route-apic-appimage-upload .main-container .row, .route-apic-appimage-delete .main-container .row, .route-consumerorgcreate .main-container .row, .route-consumerorgupdate .main-container .row, .route-consumerorgdelete .main-container .row, .route-consumerorgchangeowner .main-container .row, .route-consumerorginvite .main-container .row, .route-consumerorgremove-user .main-container .row, .route-consumerorgresend-invite .main-container .row, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form, .route-entityuseredit-form .main-container .row .user-form, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input, form.user-pass-reset, .apicForm, .apic-user-form {
    background-color: transparent;
    border: 0;
    border: 1px solid #505258;

    // Автрматическое заполнение инпутов / селектов и тд
    &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus, &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
        border: 1px solid #505258;
        box-sizing: border-box;
        border-radius: 4px;
        background-color: transparent;
    }
}

.route-apic-appcreate .main-container .row .form-item input, .route-apic-appcreate-step-two .main-container .row .form-item input, .route-applicationcreate .main-container .row .form-item input, .route-applicationcreate-step-two .main-container .row .form-item input, .route-apic-appverify-clientsecret .main-container .row .form-item input, .route-apic-appcredentials-create .main-container .row .form-item input, .route-apic-appreset-clientid .main-container .row .form-item input, .route-apic-appreset-clientsecret .main-container .row .form-item input, .route-apic-appcredentials-update .main-container .row .form-item input, .route-apic-appcredentials-delete .main-container .row .form-item input, .route-apic-appupdate .main-container .row .form-item input, .route-apic-appdelete .main-container .row .form-item input, .route-apic-apppromote .main-container .row .form-item input, .route-apic-appimage-upload .main-container .row .form-item input, .route-apic-appimage-delete .main-container .row .form-item input, .route-consumerorgcreate .main-container .row .form-item input, .route-consumerorgupdate .main-container .row .form-item input, .route-consumerorgdelete .main-container .row .form-item input, .route-consumerorgchangeowner .main-container .row .form-item input, .route-consumerorginvite .main-container .row .form-item input, .route-consumerorgremove-user .main-container .row .form-item input, .route-consumerorgresend-invite .main-container .row .form-item input, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form .form-item input, .route-entityuseredit-form .main-container .row .user-form .form-item input, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input .form-item input, form.user-pass-reset .form-item input, .apicForm .form-item input, .apic-user-form .form-item input, .route-apic-appcreate .main-container .row .form-item input:hover, .route-apic-appcreate-step-two .main-container .row .form-item input:hover, .route-applicationcreate .main-container .row .form-item input:hover, .route-applicationcreate-step-two .main-container .row .form-item input:hover, .route-apic-appverify-clientsecret .main-container .row .form-item input:hover, .route-apic-appcredentials-create .main-container .row .form-item input:hover, .route-apic-appreset-clientid .main-container .row .form-item input:hover, .route-apic-appreset-clientsecret .main-container .row .form-item input:hover, .route-apic-appcredentials-update .main-container .row .form-item input:hover, .route-apic-appcredentials-delete .main-container .row .form-item input:hover, .route-apic-appupdate .main-container .row .form-item input:hover, .route-apic-appdelete .main-container .row .form-item input:hover, .route-apic-apppromote .main-container .row .form-item input:hover, .route-apic-appimage-upload .main-container .row .form-item input:hover, .route-apic-appimage-delete .main-container .row .form-item input:hover, .route-consumerorgcreate .main-container .row .form-item input:hover, .route-consumerorgupdate .main-container .row .form-item input:hover, .route-consumerorgdelete .main-container .row .form-item input:hover, .route-consumerorgchangeowner .main-container .row .form-item input:hover, .route-consumerorginvite .main-container .row .form-item input:hover, .route-consumerorgremove-user .main-container .row .form-item input:hover, .route-consumerorgresend-invite .main-container .row .form-item input:hover, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form .form-item input:hover, .route-entityuseredit-form .main-container .row .user-form .form-item input:hover, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input .form-item input:hover, form.user-pass-reset .form-item input:hover, .apicForm .form-item input:hover, .apic-user-form .form-item input:hover, .route-apic-appcreate .main-container .row .form-item textarea, .route-apic-appcreate-step-two .main-container .row .form-item textarea, .route-applicationcreate .main-container .row .form-item textarea, .route-applicationcreate-step-two .main-container .row .form-item textarea, .route-apic-appverify-clientsecret .main-container .row .form-item textarea, .route-apic-appcredentials-create .main-container .row .form-item textarea, .route-apic-appreset-clientid .main-container .row .form-item textarea, .route-apic-appreset-clientsecret .main-container .row .form-item textarea, .route-apic-appcredentials-update .main-container .row .form-item textarea, .route-apic-appcredentials-delete .main-container .row .form-item textarea, .route-apic-appupdate .main-container .row .form-item textarea, .route-apic-appdelete .main-container .row .form-item textarea, .route-apic-apppromote .main-container .row .form-item textarea, .route-apic-appimage-upload .main-container .row .form-item textarea, .route-apic-appimage-delete .main-container .row .form-item textarea, .route-consumerorgcreate .main-container .row .form-item textarea, .route-consumerorgupdate .main-container .row .form-item textarea, .route-consumerorgdelete .main-container .row .form-item textarea, .route-consumerorgchangeowner .main-container .row .form-item textarea, .route-consumerorginvite .main-container .row .form-item textarea, .route-consumerorgremove-user .main-container .row .form-item textarea, .route-consumerorgresend-invite .main-container .row .form-item textarea, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form .form-item textarea, .route-entityuseredit-form .main-container .row .user-form .form-item textarea, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input .form-item textarea, form.user-pass-reset .form-item textarea, .apicForm .form-item textarea, .apic-user-form .form-item textarea, .route-apic-appcreate .main-container .row .form-item select, .route-apic-appcreate-step-two .main-container .row .form-item select, .route-applicationcreate .main-container .row .form-item select, .route-applicationcreate-step-two .main-container .row .form-item select, .route-apic-appverify-clientsecret .main-container .row .form-item select, .route-apic-appcredentials-create .main-container .row .form-item select, .route-apic-appreset-clientid .main-container .row .form-item select, .route-apic-appreset-clientsecret .main-container .row .form-item select, .route-apic-appcredentials-update .main-container .row .form-item select, .route-apic-appcredentials-delete .main-container .row .form-item select, .route-apic-appupdate .main-container .row .form-item select, .route-apic-appdelete .main-container .row .form-item select, .route-apic-apppromote .main-container .row .form-item select, .route-apic-appimage-upload .main-container .row .form-item select, .route-apic-appimage-delete .main-container .row .form-item select, .route-consumerorgcreate .main-container .row .form-item select, .route-consumerorgupdate .main-container .row .form-item select, .route-consumerorgdelete .main-container .row .form-item select, .route-consumerorgchangeowner .main-container .row .form-item select, .route-consumerorginvite .main-container .row .form-item select, .route-consumerorgremove-user .main-container .row .form-item select, .route-consumerorgresend-invite .main-container .row .form-item select, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form .form-item select, .route-entityuseredit-form .main-container .row .user-form .form-item select, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input .form-item select, form.user-pass-reset .form-item select, .apicForm .form-item select, .apic-user-form .form-item select {
    background-color: transparent;
    color: #E5E7EB;
    border: 1px solid #505258;
    border-radius: 4px;
}

.bx--global-light-ui .form-item input, .bx--global-light-ui .form-item input:hover, .bx--global-light-ui .form-item input:focus {
    color: #E5E7EB;
    font-size: .875rem;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    height: 2.5rem;
    width: 33rem;

    border: 1px solid #505258;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
}

// Алерт наверху страницы
.alert:nth-child(2) {
    margin-top: 3rem;
}

// Кнопка копирования
.apiconnect-copier .copy-icon {
    fill: #3a85ff;
}

// Чекбокс
.bx--global-light-ui .bx--checkbox-appearance {
    background-color: transparent;
}

////////////


.col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.apicMainContent {
    margin-top: 0 !important;
}

.region-content {
    background-color: inherit;
}

.apic-user-form {
    border: none;
    background-color: inherit;
}

.masonry {
    margin: 0 auto;
    max-width: 1250px;
}

.container {
    padding: 0 !important;
}

.route-entityusercanonical .region-content article {
    background: inherit;
    padding: 0;
    margin-left: 2.3rem;
}

.bx--global-light-ui button, .bx--global-light-ui .form-actions .button.button--primary, .bx--global-light-ui .form-actions .btn.button--primary, .bx--global-light-ui .form-actions .button.btn-primary, .bx--global-light-ui .form-actions .btn.btn-primary, .bx--global-light-ui .button, .bx--global-light-ui .btn {
    color: #fff;
    background-color: #0062FF;
    font-family: $main-font;
    height: auto;
    padding: .2rem .5rem; 

    border-radius: 4px;
    border: none;
    font-weight: 500;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: #0142D3;
    }
    &:active, &:focus {
        outline: none;
        border: none;
        background-color: #022D9A;
    }
}


.bx--global-light-ui .label, .bx--global-light-ui .form-item label, .bx--label {
    color: inherit;
}


a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

// Контейнер для всех страниц, кроме лэндинга
.drupal-container {
    padding: 6.75rem 0 0;
}

// Хэдэр, правая часть ------------------------------------------------
.region-navigation-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.block-login {
    min-width: 19rem;
    margin-left: 1rem;
}
.menu--login {
    display: flex;
    align-items: center;
    justify-content: center;
}
#block-vtb-theme-searchiconblock {
    padding-right: 3.25rem;
    margin-right: .5rem;
    border-right: 1px solid #fff;
}
nav.block-account, .block-consumer-organization-selection {
    background: transparent;
}
li.dropit-trigger a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-consumer-organization-selection {
    max-width: 15rem;
    min-width: 7.25rem;
    margin-left: .625rem;
}

// Заголовок страницы
.page-header {
    border: none;
    font-size: 3rem;
    font-weight: 600;
    line-height: 3.25rem;
    color: inherit;
    max-width: 1220px;
    margin: 0 auto;
}

// Карточки АПИ
.bx--card {
    background-color: #2D2F35;
    border-radius: 8px;
    border: none;
}

// Страница документации АПИ ------------------------------------------------
// Верхняя секция
.productApiWrapper header.titleSection {
    border-bottom: none;
    background: inherit;
}
.productName {
    color: inherit;
}

// Левая секция
.apiconnect-explorer-menu .explorer-toc a {
    color: inherit;
}

// Правая секция
.apiconnect-explorer.overview-section,
.apiconnect-explorer.operation-section {
    background-color: inherit;
}

// Блок "Безопасность"
.bx--tile {
    background-color: inherit;
}

// Вкладка методов (напр., POST /check)
// Табы cведения/попробовать
.bx--tabs__nav-link {
    color: $color-neutral-50;
}
//Блок "попробовать"
.apiconnect-explorer section.testTool {
    background: inherit;
}

// Страница конкретного приложения ------------------------------------------------
// Хэдер
.applicationWrapper header.titleSection {
    background-color: inherit;
}
.applicationName {
    border: none;
    font-size: 3rem;
    font-weight: 600 !important;
    line-height: 3.25rem;
    color: inherit;
}
//Табы
.applicationWrapper .titleSection .applicationTabs {
    background-color: inherit;
}
.applicationWrapper .titleSection .applicationTabs li a {
    color: $color-neutral-30;
}
.applicationWrapper .titleSection .applicationTabs li.selected a,
.applicationWrapper .titleSection .applicationTabs li:hover a {
    color: $color-primary-50;
    border-bottom: 2px solid $color-primary-50;
}
// ТАБ водная панель
// Три маленьких квадрата со статистикой
.analyticsWidgetContainer .apicAppTotals {
    background-color: inherit;
}

// Вызовы АПИ (последние 100)
.analyticsWidgetContainer #apicallhistory {
    background-color: inherit;
}
// Ошибки (последние 100)
.analyticsWidgetContainer .apicAppAPICallErrors {
    grid-area: subscriptions;
    background-color: inherit;
    border: 1px solid #eee;
    padding: 14px;
}

// ТАБ Подписки
.applicationCredentials .credentialsTable, .applicationSubscriptions .subscriptionsTable {
    background-color: inherit;
    border: 1px solid #dfe3e6;
}
.clientIDContainer .field__label, .clientSecretContainer .field__label, .applicationCredentials .credentialsTable .credentialsContent .credentialsData .field__label {
    color: inherit;
}

// Ссылка-кнопка "Поделитесь своим мнением"
.feedbackToggle {
    color: #3A85FF;

    &:hover, &:active {
        color: $color-primary-60;
        text-decoration-line: underline;
        text-underline-offset: 3px;
    }
}


// МНОГО ЧЕГО, включая блок редактирования в ЛК

.route-apic-appcreate .main-container .row, .route-apic-appcreate-step-two .main-container .row, .route-applicationcreate .main-container .row, .route-applicationcreate-step-two .main-container .row, .route-apic-appverify-clientsecret .main-container .row, .route-apic-appcredentials-create .main-container .row, .route-apic-appreset-clientid .main-container .row, .route-apic-appreset-clientsecret .main-container .row, .route-apic-appcredentials-update .main-container .row, .route-apic-appcredentials-delete .main-container .row, .route-apic-appupdate .main-container .row, .route-apic-appdelete .main-container .row, .route-apic-apppromote .main-container .row, .route-apic-appimage-upload .main-container .row, .route-apic-appimage-delete .main-container .row, .route-consumerorgcreate .main-container .row, .route-consumerorgupdate .main-container .row, .route-consumerorgdelete .main-container .row, .route-consumerorgchangeowner .main-container .row, .route-consumerorginvite .main-container .row, .route-consumerorgremove-user .main-container .row, .route-consumerorgresend-invite .main-container .row, .route-change-pwd-pagechange-password-form .main-container .row .apic-change-pwd-form, .route-entityuseredit-form .main-container .row .user-form, .route-ibm-apimsubscription-wizardnoplan .modal-dialog .form-item input, form.user-pass-reset, .apicForm, .apic-user-form {
    background-color: inherit;
}

// Личный кабинет
// Блок редактировать
.panel {
    background-color: inherit;
}


// Страница организации пользователя
// Владелец организации
.apicMyOrgOwner {
    background: inherit;
    padding: .625rem 1rem;
    border: 1px solid #dfe3e6;
    margin: .8rem 0;
}
// Список участников
.apicMyOrg .apicMyOrgMembers table thead {
    background: inherit;
}
.apicMyOrg .apicMyOrgMembers tbody tr.member-even {
    background-color: inherit;
}
.apicMyOrg .apicMyOrgMembers .apicMyOrgNoMembers {
    background: inherit;
}


// Создание материала Вопросы и ответы
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: inherit;
}
.table-hover>tbody>tr:hover {
    background-color: inherit;
}


// Страница подддержки
.forumDiv {
    display: none;
}


// Фильтрация ----------------------------------------------------------------
.bx--global-light-ui .views-exposed-form .btn.view-filter-button svg {
    fill: #3a85ff;
}
.has-glyphicons .select-wrapper:after {
    color: #3a85ff;
}
.form-control {
    color: #E5E7EB;
    &:focus {
        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
  
.bx--global-light-ui .views-exposed-form .btn.view-filter-button {
    margin: 1rem 0 1.5rem 1rem;
    padding: 6px;
    line-height: initial;
    background-color: transparent;
    max-height: 2.25rem;
}
  
// Инпут "Заголовок"
input#edit-title {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px 0 0 4px;
    color: #7B7E86;
}
span.input-group-addon {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
}
.glyphicon-refresh:before {
    content: "\e031";
    color: #7B7E86;
}
// Textarea
.bx--text-area {
    background-color: transparent;
    color: #7B7E86;
    border: 1px solid #505258;
    border-radius: 4px;
}
// Селект общий
select, .select-wrapper select, .bx--select-input {
    background-color: transparent;
    color: #7B7E86;
    border: 1px solid #505258;
    border-radius: 4px;
}
// Селект "Тип"
select#edit-application-lifecycle-state-value {
    background-color: transparent;
    color: #7B7E86;
    border: 1px solid #505258;
    border-radius: 4px;
}
// Селект "Регион или штат"
select#edit-apic-state-value {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
    color: #7B7E86;
}
// Селект "Сортировать по"
select#edit-sort-by {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
    color: #7B7E86;
}
// Селект "Порядок"
select#edit-sort-order {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
    color: #7B7E86;
}
// Селект "Категория"
select.simpler-select.form-select {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
    color: #7B7E86;
}
// Селект "Элементов на страницу"
select.simpler-select.form-select {
    background-color: transparent;
    border: 1px solid #505258;
    border-radius: 4px;
    color: #7B7E86;
}

// Кнопки
.bx--global-light-ui .view-filters.form-group .form-actions {
    margin: 1rem 0;
    display: inline-flex;
    flex-direction: row;
}
.view-filters.form-group {
    max-width: 1220px;
    margin: 0 auto;
}
.bx--global-light-ui .view-filters.form-group .form-actions button {
    color: #3A85FF;
    background-color: transparent;
    border: none;
    height: auto;
    margin: 0 0 0 .5rem;
    padding: .625rem 1.5rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #3A85FF;

    &:hover {
        background: rgba(136, 136, 136, 0.08);
    }
    &:active {
        background-color:  rgba(255, 255, 255, 0.2);
    }
    &:focus {
        outline: none;
    }
}
button#edit-reset {
    border: none;
}

.bx--global-light-ui .button.apicSecondary, .bx--global-light-ui button.apicSecondary {
    background-color: transparent !important;
    font-size: 1rem !important;
    font-weight: 500;
    border: 1px solid #FFFFFF !important;
    border-radius: 4px !important;
    color: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(136, 136, 136, 0.08) !important;
    }
    &:active {
        background-color:  rgba(255, 255, 255, 0.2) !important;
    }
    &:focus {
        outline: none !important;
    }

}


// Footer
.route-ibm-apimsubscription-wizard footer, .route-ibm-apimsubscription-wizardstep footer, .route-ibm-apimsubscription-wizardnoplan footer, .route-ibm-apimsubscription-wizardnoplanstep footer, .route-mail-subscribersproduct-wizard footer, .route-mail-subscribersproduct-wizardstep footer, .route-mail-subscribersplan-wizard footer, .route-mail-subscribersplan-wizardstep footer, .route-mail-subscribersapi-wizard footer, .route-mail-subscribersapi-wizardstep footer, .route-mail-subscribersall-wizard footer, .route-mail-subscribersall-wizardstep footer {
    display: flex;
}