/* ----------------------- OVERRIDE DRUPAL DEFAULTS FOR APP PAGE ----------------------- */

nav.tabs {
  max-width: 1220px;
  margin: 0 auto;
}

.applicationWrapper {
  max-width: 1220px;
  margin: 0 auto;
}

// Табы в разделе "Идентификационные данные"
.applicationWrapper .titleSection .applicationTabs li a, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li a, .applicationWrapper .titleSection .applicationTabs li, .applicationCredentials .credentialsTable .credentialsContent .credentialsTabs li .apicMyOrg .titleSection .organizationTabs li a, .apicMyOrg .titleSection .organizationTabs li {
  color: $color-neutral-05;
}

// Создание приложения ---------------------------------------------------------------
div#drupal-modal--content {
  background-color: $color-light-grey-bg;
  color: #E5E7EB;
}

.bx--global-light-ui .modal-body .form-item input, .bx--global-light-ui .modal-body .form-item input:hover, .bx--global-light-ui .modal-body .form-item textarea, .bx--global-light-ui .modal-body .form-item select {
  border: 1px solid #505258;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
}
// Модальное окно
.bx--global-light-ui .modal-content {
  border-radius: 4px;
  border-top: none;
}

.modal-content {
  background-color: $color-light-grey-bg;
  border: none;
  border-radius: 4px;
}

.bx--global-light-ui .modal-body {
  overflow-y: scroll;
}

.field--name-application-redirect-endpoints .field-multiple-table tbody {
  border: none;
}
.field--name-application-redirect-endpoints .form-item .clearfix {
  border: none;
}

.field--name-application-redirect-endpoints .field-multiple-table th.field-label {
  display: table-cell;
  color: #E5E7EB !important;
  line-height: normal;
  border-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  padding-left: 0;
}

// Кнопка-крест
.field--name-application-redirect-endpoints .field-multiple-table button.multiple-fields-remove-button {
  display: inline-block;
  vertical-align: top;
  height: auto;
  border: none !important;
  background-color: transparent;
}

// Курсор на ключе и пароле
.bx--global-light-ui .form-item input:read-only, .bx--global-light-ui .form-control[readonly] {
  cursor: text;
}

// Оглавление
.panel-default>.panel-heading {
  color: #F3F4F6;
  background-color: transparent;
}