/* ----------------------- замена DRUPAL DEFAULTS FOR BLOG ----------------------- */
.local-actions {
  margin: 10px auto;
  max-width: 1220px;
}
.feed-icons {
  margin: 30px auto;
  max-width: 1220px;
  display: none;
}