/* ----------------------- EXISTING CLIENTS CONTAINER ----------------------- */

.existing-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

@media (max-width: 1200px) {
    .existing-clients {
        justify-content: space-evenly;
    }

    .existing-clients-card {
        margin: 0 .5rem 1rem;
    }
}

.existing-clients-card {
    width: 24rem;

    &-body {
        background-color: $color-light-grey-bg;
        border-radius: 8px;
        height: 12.5rem;
        padding: 1.5rem 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &-logo {
            max-width: 14rem;
            border-radius: 8px;
        }
    }

    &-title {
        margin-top: 1.5rem;
        font-weight: 600;
        text-align: center;
    }
}
