/* ----------------------- FONTS ----------------------- */
@font-face {
    font-family: "VTB Group UI";
    src: url("../fonts/VTBGroupUI-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "VTB Group UI";
    src: url("../fonts/VTBGroupUI-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "VTB Group UI";
    src: url("../fonts/VTBGroupUI-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}