/* ----------------------- HEADER ----------------------- */
.header-bg {
    width: 100%;
    padding: 1.313rem 2rem 1.25rem;

    position: fixed;
    z-index: 100;
    top: 0;
    transition: all 0.2s ease-in-out;
}

.header-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
}

.header {
    position: relative;
    z-index: 2;
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    &-burger {
        display: none;
    }
    
    &-logo {
        z-index: 3;

        &-img {
            width: 100%;
            width: 7rem;
        }
    }

    &-menu {
        width: 80%;
        color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: space-between;

        &-links {
            width: 53%;
            min-width: 19.6rem;
            max-width: 34rem;

            display: flex;
            align-items: center;
            justify-content: space-between;

            position: relative;
            z-index: 2;

            &-item {
                font-size: .875rem;
                font-weight: 600;

                &:hover {
                    text-decoration-line: underline;
                    text-underline-offset: 5px;
                }
            }

            .active {
                color: $color-primary-50;
                text-decoration-line: none;
            }
        }
        &-search-and-login {
            width: 32.2%;
            min-width: 14.6%;
            max-width: 17.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &-search_link {
                border-right: 1px solid #ffffff;
                padding: 6px 23% 6px 0;
            }
            &-link {
                margin-left: 7%;
                font-size: .875rem;
                font-weight: 600;
            }
        }
    }
}




/* HEADER */
@media (max-width: 1023px) {
    .content.lock {
      overflow: hidden;
    }
  
    .header-burger {
      display: inline-block;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3;

        span {
            position: absolute;
            background-color: #fff;
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }

        &::before, &::after {
            content: '';
            background-color: #fff;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all 0.3s ease 0s;
        }

        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }

        &.active {
            span {
                transform: scale(0);
            }

            &::before {
                transform: rotate(45deg);
                top: 9px;
            }
            &::after {
                transform: rotate(-45deg);
                bottom: 9px;
            }
        }
    }
  
    .header-menu {
        padding: 4rem 0 0 0;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: auto;
        overflow: visible;
        transition: all 0.3s ease 0s;
        background-color: $color-primary-60;

        display: flex;
        flex-direction: column;

        &.active {
        top: 0;
        }

        &-links {
            width: 100%;
            line-height: 150%;
            padding: 0 1rem;

            flex-wrap: wrap;
            justify-content: space-around;

            &-item {
                margin: 0 .25rem;
            }
        }
    }
}