/* ----------------------- ONBOARDING CONTAINER ----------------------- */

.onboarding-bg {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.onboarding-highlited {
    width: 100%;
    position: absolute;
    top: 4rem;
    z-index: 10;
}

.onboarding {
    color: #fff;
    position: relative;
    width: 100%;
    max-width: 79%;

    h3 {
        max-width: 58.1%;
        font-weight: 600;
    }

    h1 {
        max-width: 62.21%;
        font-size: 300%;
        margin: 1.75rem 0 6.25rem;
    }

    &-image {
        height: auto;

        display: flex;
        align-items: center;
        flex-direction: column;

        position: absolute;
        right: 2.9rem;
        top: -1.5rem;

        &-round-letters {
            width: 120px;
            height: 120px;

            margin-bottom: 1.5rem;
    
            -webkit-animation: rotation 13s infinite linear;
            animation: rotation 13s infinite linear;
        }

        @-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
            }
        }
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
    
        &-arrow {
            max-width: 5.75rem;
        }
    }
}

@media (min-width: 1670px) {
    .onboarding {
        h3 {
            font-size: 225%;
            line-height: 2.625rem;
        }
    
        h1 {
            font-size: 450%;
            line-height: 4.875rem;
        }

        &-image {
            position: absolute;
            right: 2.9rem;
            top: -1.5rem;
    
            &-round-letters {
                width: 180px;
                height: 180px;
    
                margin-bottom: 1.5rem;
        
                -webkit-animation: rotation 13s infinite linear;
                animation: rotation 13s infinite linear;
            }
        
            &-arrow {
                max-width: 8.563rem;
            }
        }
    }
}

@media (max-width: 767px) {
    .onboarding {
        max-width: none;
        margin: 9rem 1rem 0;

        h3 {
            font-size: 1.125rem;
            line-height: 1.5rem;
            max-width: 80%;
        }
        h1 {
            font-size: 2.125rem;
            line-height: 2.25rem;
            margin: 1.75rem 0 0;
            max-width: none;
        }

        &-image {
            height: 8rem;
            width: 5.75rem;

            top: -9rem;
            right: unset;

            overflow: hidden;
    
            &-round-letters {
                display: none;
            }
        
            &-arrow {
                width: 5.75rem;
                position: absolute;
                bottom: 0;
            }
        }
    }
}

@media (max-width: 374px) {
    .onboarding {
        h1 {
            font-size: 2rem;
            line-height: 2rem;
            margin: 1.75rem 0 1rem;
        }

        h3 {
            max-width: none;
            font-size: 1rem;
            line-height: 1.3rem;
        }
    }
}

// ANIMATED BUTTON
.onboarding-button {
    width: auto;
    box-sizing: border-box;
    position: fixed;
    color: #fff !important;
    left: 10.5%;
    right: auto;
    bottom: 15%;
    z-index: 4;
    
    opacity: 1;

    transition: opacity .1s ease-in-out;

    &-text {
        margin-left: .375rem;
    }

    &-arrow {
        max-width: 8.563rem;

        position: absolute;
        right: 3.6rem;
        top: 9.5rem;
    }

    &-big {
        padding: 1rem 2rem;
    }

    &-small {
        opacity: 1;
        left: 2rem;
        padding: 1rem;
        bottom: 15%;
        width: min-content !important
    }
}

@media (max-width: 425px) {
    .onboarding-button {
        width: 90%;
        left: auto;
        right: 5%;
        bottom: 2.5rem;
    
        &-arrow {
            max-width: 8.563rem;
    
            position: absolute;
            right: 3.6rem;
            top: 9.5rem;
        }

        &-small {
            width: min-content !important;
        }
    }
}