/* ----------------------- VARIABLES ----------------------- */

$main-font: "VTB Group UI";
$color-neutral-05: #F3F4F6;
$color-neutral-10: #E5E7EB;
$color-neutral-30: #B1B5BB;
$color-neutral-40: #9A9EA5;
$color-neutral-50: #7B7E86;
$color-neutral-70:#505258;
$color-neutral-80:#37383C;
$color-neutral-90: #22242A;
$color-light-grey-bg: #2D2F35;
$color-coldgrey-50: #7E8390;
$color-primary-50: #3A85FF; //NEW COLOR
$color-primary-60: #0062FF;
$color-error-50: #F64E4E;

$color-darkweb-text-primary: #E2E5E9;
$color-darkweb-basic-primary: #4789EB;
$color-darkweb-bg: #252A32;