<div class="apicNewAppWrapper">
  <a class="button apicNewApp use-ajax" href="{{- path('apic_app.create') -}}"
    data-dialog-type="modal"
    data-dialog-options="{&quot;width&quot;:&quot;auto&quot;}"   
  >
    <span>{{ 'Create new app'|t }}</span>
  </a>
</div>
